// Custom Request Headers
|===
|Name|Required|Description

{{#headers}}
<|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
<|{{#tableCellContent}}{{^optional}}true{{/optional}}{{#optional}}false{{/optional}}{{/tableCellContent}}
<|{{#tableCellContent}}{{description}}{{/tableCellContent}}
{{/headers}}

|===